<br><br>
<div class="form-center">ATENÇÃO:<br>ESSE PROJETO DEVE FUNCIONAR EM QUALQUER NAVEGADOR MODERNO, JSFIDDLE OU CODEPEN</div>
<br>
<div id="app">
  <div class="container">
    <br style="height: 100px;">
    <p class="headline3">
      Escreva uma interface que o usuário insere uma quantidade de lados de um polígono, e o programa deve exibir um polígono regular no centro da tela. Obs: o polígono pode ter no mínimo 3 lados e no máximo 1O.
    </p>
    <br>

    <canvas id="canvasQuestionOne"></canvas>
    <vue-slider ref="slider" v-model="questionOneSides" :adsorb="true" :interval="1" :marks="true" :contained="true" :drag-on-click="true" :tooltip-formatter="sidesFormatter" :min=3 :max=10></vue-slider>
    <br><br>
    <div class="form-center">
      NÚMERO DE LADOS <span> </span>
      <input v-model="questionOneSides" />
    </div>

    <br style="height: 100px;">
    <p class="headline3">
      Escreva uma interface que contém um polígono regular com número de lados maior que 3, e controles de rotação (em z, sentido horário e anti horário), translação (direita, esquerda, baixo e cima) e escala (aumentar e diminuir). O polígono deve estar com rotação em estado de animação.
    </p>
    <br>

    <canvas id="canvasQuestionTwo" style="width:400px;"></canvas>
    <vue-slider ref="slider" v-model="questionTwoRotation" :adsorb="true" :interval="1" :marks="10" :contained="true" :drag-on-click="true" :tooltip-formatter="angleFormatter" :min=-180 :max=180></vue-slider>

    <div class="form-center">
      ÂNGULO DE ROTAÇÃO <span> </span>
      <input v-model="questionTwoRotation" />

      <br><br>
      <vue-slider ref="slider" v-model="questionTwoTranslationX" :adsorb="true" :interval="0.01" :marks="0.1" :contained="true" :drag-on-click="true" :min=-1 :max=0.05></vue-slider>

      <div class="form-center">
        TRANSLAÇÃO X <span> </span>
        <input v-model="questionTwoTranslationX" />
      </div>


      <br>
      <vue-slider ref="slider" v-model="questionTwoTranslationY" :adsorb="true" :interval="0.01" :marks="0.1" :contained="true" :drag-on-click="true" :min=-0.5 :max=0.5></vue-slider>

      <div class="form-center">
        TRANSLAÇÃO Y <span> </span>
        <input v-model="questionTwoTranslationY" />
      </div>


      <br>
      <vue-slider ref="slider" v-model="questionTwoScale" :adsorb="true" :interval="0.01" :marks="0.1" :contained="true" :drag-on-click="true" :min=-0 :max=1></vue-slider>

      <div class="form-center">
        ESCALA <span> </span>
        <input v-model="questionTwoScale" />
      </div>




    </div>

  </div>

</div>


<script src="https://unpkg.com/vue@2.5.2/dist/vue.min.js"></script>

<br>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/theme/default.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<script src="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/dist/vue-slider-component.umd.min.js"></script>


<script>
  function copy(a) {

    return JSON.parse(JSON.stringify(a))

  }


  function glFromId(canvasId) {
    // Configure the canvas to use WebGL
    //
    var gl;
    var canvas = document.getElementById(canvasId);
    canvas.style = "margin-left: auto;margin-right: auto;";

    try {
      gl = canvas.getContext('webgl');
    } catch (e) {
      throw new Error('no WebGL found');
    }
    return gl;
  }



  function polygon(x, y, radius, sides, angle) {
    var crd = [];
    angle = angle - Math.PI // Make the shape upside up by default

    for (var i = 0; i < sides; i++) {
      crd.push([
        (x + (Math.sin(angle + (2 * Math.PI * i / sides)) * radius)),
        (y - (Math.cos(angle + (2 * Math.PI * i / sides)) * radius)),
      ]);
    }
    return crd;
  }

  function createRegularPolygonvertices(x, y, sides, circumradius, angle) {

    var vertices = [];
    var x;
    var result = [];

    // This will generate only the vertices at the edge of the circle
    // To make them visible we will generate triangles out of them below
    vertices = polygon(x, y, circumradius, sides, angle)

    // We will be creating a triangle fan
    // The idea is that at every pair of vertices,
    // we will connect them back to the first vertice
    // to form a triangle
    for (x = 1; x < vertices.length; x++) {

      // x coord
      result.push(copy(vertices[x][0]))
      // y coord
      result.push(copy(vertices[x][1]))

      if (x < vertices.length - 1) {
        // x1 coord
        result.push(copy(vertices[x + 1][0]))
        // y1 coord
        result.push(copy(vertices[x + 1][1]))
      } else {
        // The last one should end up in the beginning again

        // x coord
        result.push(copy(vertices[0][0]))
        // y coord
        result.push(copy(vertices[0][1]))
      }

      // first vertice x coord
      result.push(copy(vertices[0][0]))
      // first vertice y coord
      result.push(copy(vertices[0][1]))
    }

    return result
  }






  new Vue({
      el: '#app',
      data() {
        return {
          questionOneSides: 3,
          questionTwoRotation: 0,
          questionTwoTranslationX: -0.5,
          questionTwoTranslationY: 0,
          questionTwoScale: 0.5,
          sidesFormatter: '{value} lados',
          angleFormatter: '{value} graus',
          value: 3,
        }
      },
      computed: {
        questionTwoState() {
          return `${this.questionTwoRotation}| ${this.questionTwoTranslationX}| ${this.questionTwoTranslationY}| ${this.questionTwoScale}`;

        },
      },
      methods: {
        render(gl, centerX, centerY, polygonSides, polygonRadius, angle) {

          // Create a simple vertex shader
          //
          var vertCode =
            'attribute vec2 coordinates;' +
            'void main(void) {' +
            '  gl_Position = vec4(coordinates, 0.0, 1.0);' +
            '}';

          // Create a simple fragment shader
          //
          var fragCode =
            'void main(void) {' +
            '   gl_FragColor = vec4(1.0, 0.0, 0.0, 1.0);' +
            '}';

          var fragCode1 =
            'void main(void) {' +
            '   gl_FragColor = vec4(1.0, 0.0, 0.0, 1.0);' +
            '}';

          /*  Configure the canvas to use WebGL

          var gl;
          
          try {
            gl = canvas.getContext('webgl');
          } catch (e) {
            throw new Error('no WebGL found');
          }
           */
          // Copy an array of data points forming a triangle to the
          // graphics hardware
          //

          var vertices = createRegularPolygonvertices(
            centerX, centerY, polygonSides, polygonRadius, angle
          )
          console.log(vertices)

          var buffer = gl.createBuffer();
          gl.bindBuffer(gl.ARRAY_BUFFER, buffer);
          gl.bufferData(gl.ARRAY_BUFFER, new Float32Array(vertices), gl.STATIC_DRAW);



          var vertShader = gl.createShader(gl.VERTEX_SHADER);
          gl.shaderSource(vertShader, vertCode);
          gl.compileShader(vertShader);
          if (!gl.getShaderParameter(vertShader, gl.COMPILE_STATUS))
            throw new Error(gl.getShaderInfoLog(vertShader));


          var fragShader = gl.createShader(gl.FRAGMENT_SHADER);
          gl.shaderSource(fragShader, fragCode);
          gl.compileShader(fragShader);
          if (!gl.getShaderParameter(fragShader, gl.COMPILE_STATUS))
            throw new Error(gl.getShaderInfoLog(fragShader));

          // Put the vertex shader and fragment shader together into
          // a complete program
          //
          var shaderProgram = gl.createProgram();
          gl.attachShader(shaderProgram, vertShader);
          gl.attachShader(shaderProgram, fragShader);
          gl.linkProgram(shaderProgram);
          if (!gl.getProgramParameter(shaderProgram, gl.LINK_STATUS))
            throw new Error(gl.getProgramInfoLog(shaderProgram));

          // Everything we need has now been copied to the graphics
          // hardware, so we can start drawing

          // Clear the drawing surface
          gl.clearColor(1.0, .90, 1.0, .75);
          gl.clear(gl.COLOR_BUFFER_BIT);

          // Tell WebGL which shader program to use
          gl.useProgram(shaderProgram);

          // Tell WebGL that the data from the array of triangle
          // coordinates that we've already copied to the graphics
          // hardware should be fed to the vertex shader as the
          // parameter "coordinates"
          //
          var coordinatesVar = gl.getAttribLocation(shaderProgram, "coordinates");
          gl.enableVertexAttribArray(coordinatesVar);
          gl.bindBuffer(gl.ARRAY_BUFFER, buffer);
          gl.vertexAttribPointer(coordinatesVar, 2, gl.FLOAT, false, 0, 0);

          // Now we can tell WebGL to draw the 3 points that make 
          // up the triangle
          gl.drawArrays(gl.TRIANGLES, 0, vertices.length / 2);

        }
      },
      mounted() {
        var canvasQuestionOne = glFromId('canvasQuestionOne');
        var canvasQuestionTwo = glFromId('canvasQuestionTwo');
//        var canvasQuestionThree = glFromId('canvasQuestionThree');



        this.render(canvasQuestionOne, 0.5, 0.5, 3, 0.5, 0);
        this.render(canvasQuestionTwo, 0.5, 0.5, 4, 0.5, 0);
//        this.render(canvasQuestionThree, 0.5, 0.5, this.value, 0.5, 0);


      },
      components: {
        'vueSlider': window['vue-slider-component'],
      },
      watch: {
        questionOneSides: function(newVal, oldVal) {
          var gl = glFromId('canvasQuestionOne');
          this.render(gl, 0.5, 0.5, this.questionOneSides, 0.5, 0);
        },
        questionTwoState: function(newVal, oldVal) {
          var gl = glFromId('canvasQuestionTwo');
          this.render(gl, 0.5 + this.questionTwoTranslationX, this.questionTwoTranslationY, 4, this.questionTwoScale, 20 + 180 - this.questionTwoRotation * (Math.PI / 180));
        }
      }
    },

  );

</script>
<style>
  canvas {
    width: 400;
    height: 400;
  }

  .headline3 {
    position: relative;
    margin-left: -22px;
    font-family: 'Merriweather', serif;
    margin-right: -22px;
    padding: 15px;
    background: #e5e5e5;
    background: linear-gradient(#f5f5f5, #e5e5e5);
    box-shadow: 0 -1px 0 rgba(255, 255, 255, .8) inset;
    text-shadow: 0 1px 0 #fff;
  }

  .headline3:before,
  .headline3:after {
    position: absolute;
    left: 0;
    bottom: -6px;
    content: '';
    border-top: 6px solid #555;
    border-left: 6px solid transparent;
  }

  .headline3:before {
    border-top: 6px solid #555;
    border-right: 6px solid transparent;
    border-left: none;
    left: auto;
    right: 0;
    bottom: -6px;
  }

  .container {
    width: 70%;
    max-width: 500px;
  }

  .form-center {
    font-family: 'Oswald', sans-serif;
    text-align: center
  }

  input {
    margin-left: 24px;
    text-align: center;
    border: 2px solid #dadada;
    border-radius: 7px;
  }

  input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }

</style>
